@charset "utf-8";

// Homepage Styles Start Here!
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.carousel {

  .carousel-item {
    margin-top: 3rem;
    max-height: 500px;
    overflow: hidden;
  }

  .carousel-caption {
    background: transparentize(#000000, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.product.card {

  .frame {
    max-height: 200px;
    overflow: hidden;
  }

  .card-body {
    position: relative;

    .product.btn-primary {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }
  }
}

.jumbotron {
  background-image: url('/assets/forest.jpg');
  background-size: cover;
  background-position: center;

  h2, p {
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px transparentize(#000000, .5);
  }

  .form-inline {
    justify-content: center;

    .lead {
      background-color: #ffffff;
    }

    .form-control {
      width: 500px;
    }
  }

  .alert {
    margin: 1rem auto;
    transition: .3s ease-in;
    width: 35%;
  }
}

.invisible {
  opacity: 0;
  transition: .3s ease;
}
