@charset "utf-8";

/** Homepage styles **/
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.carousel {

  .carousel-item {
    margin-top: 3rem;
    max-height: 500px;
    overflow: hidden;
  }

  .carousel-caption {
    background: transparentize(#000000, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.product.card {

  .frame {
    max-height: 200px;
    overflow: hidden;
  }

  .card-body {
    position: relative;

    .product.btn-primary {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 8em;

  label {
    display: inline-block;
    font-size: 0;

    &:before {
      background: #fcb551;
      content: '\f005';
      display: block;
      font: 1rem/1 FontAwesome;
      position: relative;

      -webkit-background-clip: text; //need webkit to work
      -webkit-text-fill-color: transparent;
    }
  }

  input {
    left: -999999px;
    position: absolute;
  }
}

.jumbotron {
  background-image: url('/assets/forest.jpg');
  background-size: cover;
  background-position: center;

  h2, p {
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px transparentize(#000000, .5);
  }

  .form-inline {
    justify-content: center;

    .lead {
      background-color: #ffffff;
    }

    .form-control {
      width: 500px;
    }
  }

  .alert {
    margin: 1rem auto;
    transition: .3s ease-in;
    width: 35%;
  }
}

.invisible {
  opacity: 0;
  transition: .3s ease;
}

/** Product page styles **/

.dinoCard {
    margin: 25px;
    padding: 5px;
}

.sort-choice:focus {
    background-color: blue;
}

/** Checkout styles **/

.checkout-table {
    margin-top: 25px;
    display: table;
    border-color: grey;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.checkoutHeader{
    color:lightblue;
    text-align: left;
    padding-left: 20px;
}

.product-box {
    margin: 75px 0 25px;
}

.checkout-product-column1 {
    border: 50px;
    padding: 50px;
    display: center;
    border-left: 50px;
    background-color: lightgray;
}
.checkout-product-column2{
    border: 50px;
    padding: 50px;
    display: center;
    width: 500px;
}
